<h1>Editing Production Item</h1>

<%= render 'form' %>

<%= link_to 'Show', @production_item, class: 'actions' %> |
<%= link_to 'Back', production_items_path(production_formula_id: @production_item.production_formula_id) %>
