<%= link_to 'Back to Production Formula', production_formulas_url(production_schedule_id: 5), class: 'btn btn-info' %>
<h1>Production Items</h1>
<%= link_to 'New Production Item', new_production_item_path(production_formula_id: params[:production_formula_id]), class: 'btn btn-warning' %>
<table class='table table-striped table-bordered'>
  <thead>
    <tr>
      <th>Item Number</th>
      <th>Quantity</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <%= render @production_items %>
  </tbody>
</table>

<br>
